h1, h2, h3 {
    text-align:center;
    font-size:2em;
    color: darkorange;
}

p {
    font-size: 1.4em;
}

blockquote {
    font-size: 1.4em;
}

.container {
    width:50%;
    min-width:600px;
    margin-bottom:50px;
    text-align;center;
}

img {
    display:block;
    margin:auto;
    width:70%;
}

header
{
	text-align: center;
}

header h1 
{    
  background-color: lightgrey;
    color: darkorange;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 3em;
  margin-bottom: 2px;
}

footer 
{
	text-align;center;
}

footer p 
{

	padding-top: 10px;
	margin: 5px auto;
	text-align: center;
	background-color: lightgrey;
	color: darkorange;
	height: 70px;
}
